.container{
    border: 1px solid black;
}
body{
    background-color: rgba(29, 26, 26, 0.707);
}
.nav-flex-column{
    border: 1px solid black;
    width: 10%;
    height: 100%;

}
#microphone{
    width: 100px;
    height: 50px;
}
#third-collum{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}
#grid{
    width: 100px;
    height: 50px;
    
}
#bell{
    width: 100px;
    height: 50px;
    color: transparent;
}
#profile-pic{
    width: 100px;
    height: 50px;
    color: transparent;
}
#house{
    width: 10px;
    height: 10px;
}
#compas{
    width: 10px;
    height: 10px;
}
#shorts{
    width: 10px;
    height: 10px;
}
#subs{
    width: 10px;
    height: 10px;
}
#library{
    width: 10px;
    height: 10px;
}
#history{
    width: 10px;
    height: 10px;
}
#videos{
    width: 10px;
    height: 10px;
}
#movies{
    width: 10px;
    height: 10px;
}
#later{
    width: 10px;
    height: 10px;
}
#more{
    width: 10px;
    height: 10px;
}
#placeholder{
    width: 280px;
    height: 150px:
}